body {
    background-color: #faf0e6; 
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #faf0e6; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.primer {
    display: flex; 
}
.primary {
    grid-column: 1 / 2; /* Iniciar desde la primera columna */
    grid-row: 1 / 2; /* Primera fila */
    max-width: calc(50% - 10px);
}

.secondary {
    grid-column: 2 / 2; /* Iniciar desde la primera columna */
    grid-row: 1 / 2; /* Primera fila */
    max-width: calc(50% - 10px); 
    background-color: #32cd32; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.tertiary {
    grid-column: 1/4;
    grid-row: 2 / 3;
    background-color: #4682b4; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.segundo {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    display: flex;
    justify-content: flex-end;
}
.quaternary {
    
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #32cd32; 
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.quinto {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}