<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista api</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Listado de personas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NombreDistribuidor</th>
                <th>Contacto</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>TipoProveedor</th>
                <th>Ruc</th>
                <th>Estado</th>
                <th>FechaRegistro</th>
                <th>Monto Credito</th>
                <th>Dirección</th>
    
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Se genera una fila por cada elemento en la lista Listado -->
             <tr th:each="provedores : ${provedores}">
                <td th:text="${provedores.idProveedor}"></td>
                <td th:text="${provedores.nombreDistribuidor}"></td>
                <td th:text="${provedores.contacto}"></td>
                <td th:text="${provedores.email}"></td>
                <td th:text="${provedores.telefono}"></td>
                <td th:text="${provedores.direccion}"></td>
                <td th:text="${provedores.tipoProveedor}"></td>
                <td th:text="${provedores.ruc}"></td>
                <td th:text="${provedores.estado}"></td>
                <td th:text="${provedores.fechaRegistro}"></td>
                <td th:text="${provedores.montoCredito}"></td>
             </tr>
             <a th:href="@{/proveedores/{id}(id=${proveedor.idProveedor})}" class="btn btn-info">Ver</a>
                    <a th:href="@{/proveedores/editar/{id}(id=${proveedor.idProveedor})}" class="btn btn-warning">Editar</a>
                    <a th:href="@{/proveedores/eliminar/{id}(id=${proveedor.idProveedor})}" class="btn btn-danger">Eliminar</a>
        </tbody>

    </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>