body{
  /* margin-top: 100px; */
  background-color: rgba(32, 205, 168, 0.875);
  font-family: "Courier New";
  padding: 10px 50px;
  box-shadow:2px 2px 10px yellow transparent;
} 

header{
  display: flex;
}
h1{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  /* padding: 10px 50px; */
  box-shadow:2px 2px 10px yellow transparent;
  /* background-color:floralwhite; */
  color :darkmagenta;
  margin-top: 0;
}

p{
  font-size: 16px;
  font-weight: 400px;
  font-family:'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Sombra en el texto del párrafo */
}

.contenedor, .contenedor2 {
  display: flex;
  flex-direction:row;
  /* justify-content: space-around; */
  align-items: center;
  /* text-align: center; */
  /* flex-wrap: wrap; */
  /* width:100%; */
  /* gap: 20px; */
  /* transform: scale(1.05); */
  /* transition: transform 0.3s ease-in-out; */
}

.contenedor img, .contenedor2 img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border:1px solid black;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Sombra más suave y difusa */
  /* transition: transform 0.5s ease-in-out; */
  margin: 5px;
}

/* .contenedor img:hover, .contenedor2 img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5); 
} */

@media screen and (max-width: 468px) {
  .contenedor img, .contenedor2 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  h1, h3, p {
      font-size: 1em;
  }
}
