<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Barra de Búsqueda -->
    <h1>Barra de Búsqueda</h1>
    <form action="./Busqueda.html" method="post">
        <input type="text" name="busqueda" placeholder="Buscar productos...">
        <button type="submit">Buscar</button>
    </form>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre modelo</th>
                <th>Tipo de mica</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Fabricante</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Fecha de venta</th>
                <th>Acciónes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="TiendaMicas : ${Listado}">
                <td th:text="${TiendaMicas.id}"></td>
                <td th:text="${TiendaMicas.nombreModelo}"></td>
                <td th:text="${TiendaMicas.tipoMica}"></td>
                <td th:text="${TiendaMicas.descripcion}"></td>
                <td th:text="${TiendaMicas.precio}"></td>
                <td th:text="${TiendaMicas.cantidadEnStock}"></td>
                <td th:text="${TiendaMicas.fabricante}"></td>
                <td th:text="${TiendaMicas.direccion}"></td>
                <td th:text="${TiendaMicas.email}"></td>
                <td th:text="${TiendaMicas.telefono}"></td>
                <td th:text="${TiendaMicas.fecha}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
