<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de estudiantes</title>
</head>

<body>
    <div class="container">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nombre Completo</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Grado</th>
                </tr>
            </thead>
            <tbody th:each="estudiante : ${estudiantes}">
                <tr>
                    <td th:text="${estudiante.id}"></td>
                    <td th:text="${estudiante.nombrecompleto}"></td>
                    <td th:text="${estudiante.edad}"></td>
                    <td th:text="${estudiante.telef}"></td>
                    <td th:text="${estudiante.email}"></td>
                    <td th:text="${estudiante.grado}"></td>
                </tr>
            </tbody>
            <!-- <tfoot>
            <tr>
                <th>#</th>
            </tr>
        </tfoot> -->
        </table>
    </div>
</body>
</html>